.container {
    background-color: #f2f2f2;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.menu-btn {
    position: relative;
    z-index: 9999;
    margin-left: 100px;
    background: #0068FF;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px -4px rgb(0, 0, 0, 0.6);
}

.menu-btn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 13px;
    height: 2px;
    background-color: #FFFFFF;
}

.menu-btn span:nth-of-type(1) {
    top: 15px;
    width: 12px;
}

.menu-btn span:nth-of-type(2) {
    top: 23px;
    width: 24px;
}

.menu-btn span:nth-of-type(3) {
    top: 31px;
    width: 6px;
}

.menu-btn.active span:nth-of-type(1) {
    top:18px;
    left: 18px;
    transform: translateY(6px)
    rotate(-45deg);
    width: 30%;
}

.menu-btn.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-btn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px)
    rotate(-45deg);
    width: 30%;
}

.nav-content {
    position: fixed;
    z-index: 999;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    transition: all 0.6s;
}

.nav-content.panelactive {
    top: 0;
}

.nav-content ul {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-content li {
    list-style: none;
    text-align: center;
}

.nav-content li a {
    color: #0068FF;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 30px;
}

.header-ttl {
    color: #0068FF;
    margin-left: 20px;
}

.register-container,
.login-container,
.thanks-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 7px -4px rgb(0, 0, 0, 0.6);
}

.main-ttl {
    background-color: #0068FF;
    color: #ffffff;
    text-align: left;
    padding: 20px 20px;
    border-radius: 10px 10px 0 0;
}

.register-form,
.login-form {
    padding: 20px 20px;
}

input {
    border: none;
    outline: none;
    border-bottom: 2px solid #808080;
    margin-bottom: 15px;
    width: 90%;
}

.input-container {
    display: flex;
    align-items: flex-start;
}

.input-container input {
    margin-left: 10px;
}

.error {
    color: #ed1a3d;
}

.btn-container input {
    background-color: #0068FF;
    width: 70px;
    height: 35px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container {
    margin-top: 20px;
    text-align: right;
}

.thanks-container {
    height: 40%;
}

.thanks-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.thanks-msg {
    font-size: 25px;
}

.thanks-btn input,
.detail-btn input {
    background-color: #0068FF;
    width: 100px;
    height: 35px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.thanks-btn {
    margin-top: 40px;
}

.detail-btn {
    margin-top: 20px;
    text-align: left;
}

.detail-btn button {
    background-color: #0068FF;
    width: 100px;
    height: 35px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    height: 50px;
}

.search-form__item-select {
    height: 100%;
    border: none;
}

.search-form__item input {
    width: 500px;
    border: none;
    height: 100%;
}

.search-form__item-icon {
    background-color: #ffffff;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    width: 350px;
    margin: 20px 10px;
    box-shadow: 5px 5px 7px -4px rgb(0, 0, 0, 0.6);
}

.card-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 15px 25px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

.card-content li {
    list-style: none;
}

.card-content_tag {
    font-size: 14px;
}
.card-content_tag-list {
    display: flex;
    padding: 0 30px 0 0;
}

.card-content_tag-item {
    margin-right: 10px;
}

.like-btn {
    cursor: pointer;
}

.arrow-button {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 50px;
}

.arrow-button::before,
.arrow-button::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.arrow-button::before {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    -webkit-border-radius: 25px;
    border-radius: 25%;
    background-color: #ffffff;
    border: none;
    box-shadow: 5px 5px 7px -3px rgb(0, 0, 0, 0.6);
}

.arrow-button::after {
    left: 10px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-135deg);
    margin-left: 2px;
}

.shop-ttl {
    display: flex;
    align-items: center;
}

.shop-name {
    margin-left: 30px;
}

.shop-inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.shop-detail,
.reservation {
    width: 50%;
    margin: 30px 30px;
}

.shop-detail {
    margin-left: 80px;
}

.reservation {
    margin-right: 80px;
}

.card-content_tag-list {
    list-style: none;
}

.card-content_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation {
    background-color: #0068FF;
    border-radius: 10px;
    box-shadow: 5px 5px 7px -4px rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

.booking-ttl {
    color: #ffffff;
    margin-left: 20px;
}

.booking-conf {
    margin-left: 20px;
}

#booking-form {
    display: flex;
    flex-direction: column;
}

#booking-form input {
    margin-left: 20px;
    border-radius: 5px;
    width: 30%;
    height: 30px;
}

#booking-form select {
    margin: 0 0 20px 20px;
    width: 80%;
    border-radius: 5px;
    height: 30px;
}

.booking-conf {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    color: #ffffff;
    background-color: #6495ED;
    border-radius: 5px;
    width: 450px;
}

.booking-detail {
    margin: 15px 20px;
}

.booking-container {
    display: flex;
    align-items: center;
}

p#shop-name,
p#date,
p#time {
    margin:15px 0 15px 50px;
}

p#number{
    margin:15px 0 15px 25px;
}

.booking-btn input {
    background-color: #0000FF;
    width: 100%;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0;
}

.booking-btn {
    margin-top: auto;
}

.welcome {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.mypage-container {
    display: flex;
}

.booking-cnt,
.favorite-cnt {
    width: 50%;
}

